<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/hljs-github.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/site.css"/>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div class="header">
        <p><a href="/">Home</a></p>
        <hr/>
    </div>
    
    <div class="body">
        $body$
    </div>
    
    <div class="footer">
        <hr/>
        <p>Site powered by <a href="http://jaspervdj.be/hakyll/">Hakyll</a>.</p>
        <p>jasonm23-markdown stylesheet from <a href="http://mixu.net/markdown-styles/">markdown-styles</a>.</p>
    </div>
  </body>
</html>
